{% extends 'base.html' %}

{% block title %}Мой профиль {% endblock title %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css" integrity="sha512-+VDbDxc9zesADd49pfvz7CgsOl2xREI/7gnzcdyA9XjuTxLXrdpuz21VVIqc5HPfZji2CypSbxx1lgD7BgBK5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
.not-visible{
    display: none;
}
    /* Ensure the size of the image fit the container perfectly */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}
</style>

<div id="alert-box"></div>
<div id="image-box" class ="mb-3"></div>


<form action="" id="image-form">
    {% csrf_token %}
    {{form.as_p}}
</form>
<button type="submit" class='btn btn-success mt-3 not-visible' id="confirm-btn">
    Подтвердить
</button>
<div class="container-sm my-5 bg-white col-6 border border-dark rounded-3 border-2" id="account">
    <div class="row p-3">
        <div class="col-4"><img src="{{account.prof_image.url}}" height="100%" width="100%" alt="{{account.first_name}}"</img></div>
        <div class="col-8">
            <div class="row"><h3>{{account.first_name}} {{account.second_name}}</h3></div>
            <div class="row">{{account.about}}</div>
        </div>
    </div>
</div>
<script>
    console.log('world hello')
    const alertBox = document.getElementById('alert-box')
    const imageBox = document.getElementById('image-box')
    const imageForm = document.getElementById('image-form')
    const confirmBtn = document.getElementById('confirm-btn')
    const input = document.getElementById('id_prof_image')
    const csrf = document.getElementsByName('csrfmiddlewaretoken')

    input.addEventListener('change', () =>{
        console.log('changed')
        confirmBtn.classList.remove('not-visible')
        const imageData = input.files[0]
        const url = URL.createObjectURL(imageData)
        imageBox.innerHTML = `<img src="${url}" id="image" width="500px">` 
        const image = document.getElementById('image');
    const cropper = new Cropper(image, {
      aspectRatio: 9 / 9,
        crop(event) {
            console.log(event.detail.x);
            console.log(event.detail.y);
            console.log(event.detail.width);
            console.log(event.detail.height);
            console.log(event.detail.rotate);
            console.log(event.detail.scaleX);
            console.log(event.detail.scaleY);
      },
    }); 
    confirmBtn.addEventListener('click', ()=>{
        cropper.getCroppedCanvas().toBlob((blob) => {
            const fd = new FormData()
            fd.append('csrfmiddlewaretoken', csrf[0].value)
            fd.append('prof_image', blob, 'img.jpg' )
            $.ajax({
                type: 'POST',
                url: imageForm.action,
                enctype: 'multipart/form-data',
                data: fd,
                success: function(response){
                    console.log(response)
                },
                error: function(error) {
                    console.log(error)
                },
                cache: false,
                contentType: false,
                processData: false,
                })
            })
        }
    )
    })


    
    </script>
{% endblock content %}





